/*Loading Screen Center*/
.centerComponent {
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rows{
    display: flex;
    margin-left: 12px;
    width: min-content;
 }
 .row {
    display: flex;
    width: min-content;
    margin-right: 16px;
 }
 
 .mainMain{
    float: left; 
    width: 80%;
 }

.mainLeft{
    width: 20%;
    float: left; 
}
/*card styles*/
.row-card-admin {
    display: flex;
    max-width: 30rem;
    margin: 0 3rem 3rem 0;
    transition: transform .2s; /* Animation */
}

.row-card-admin:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.rows-admin{
    display: flex;
    margin-left: 23px;
 }