/*Loading Screen Center*/
.centerComponent {
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rows{
    display: flex;
    margin-left: 12px;
    width: min-content;
 }
 .row {
    display: flex;
    width: min-content;
    margin-right: 16px;
 }
 
 .mainMain{
    float: left; 
    width: 80%;
 }

.mainLeft{
    width: 20%;
    float: left; 
}
/*card styles*/
.row-card-admin {
    display: flex;
    max-width: 30rem;
    margin: 0 3rem 3rem 0;
    transition: transform .2s; /* Animation */
}

.row-card-admin:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.rows-admin{
    display: flex;
 }

 .centered{
     margin-left: 30%;
     display: flex;
 }

 /* button message modals */
 .marginButton {
    margin: 8px
 }

 .marginButton:hover{
     box-shadow: 0 0 6px rgba(35,173,278,1);
 }

.dropdown-style{
    position: absolute;
    transform: translate3d(0px, 38px, 0px); 
    top: 0px; 
    left: 0px; 
    will-change: transform;
}

.middle{
    margin-right:20%;
    margin-left: 20%;
}
 
